<div class="coverAll">
    <div class="row">
        <div class="tile">
            <div class="handler">
                <button (click)="goToHomePage()" >Notes</button>
                <button class="active" >More</button>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sideHeading">
                    Account Actions
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="section">
                    <button (click)="goToMyAccountPage()" class="more"> My Account  </button>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="section">
                    <button class="logout" (click)="logout()">Log Out <i class="fas fa-sign-out-alt"></i></button>
                </div>
            </div>
        </div>

        <br>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="sideHeading">
                    Want to talk to us ? <br>
                    <p style="font-size: small;margin-top: 0px;padding-top: 0px;">( We need your feedbacks )</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="section">
                    <button (click)="goToContactUsPage()" class="more">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>