<div class="container coverAll">
    <div class="row">
        <div class="tile">
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="content">
                    <img src="/assets/create.svg" alt="Create Note">
                    <div class="text">
                        <div class="heading">
                            Create The Note
                        </div>
                        <div class="description">
                            Create as many notes you need and you want.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <img src="/assets/edit.svg" alt="Create Note">
                    <div class="text">
                        <div class="heading">
                            Edit The Note
                        </div>
                        <div class="description">
                            Edit it as you want, fill it up with content and hit save.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <img src="/assets/share.svg" alt="Create Note">
                    <div class="text">
                        <div class="heading">
                            Share The Note
                        </div>
                        <div class="description">
                            Share your thought, thinking and many more with the world.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>