.footer{
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(5, 5, 34);
    /*background-color: rgb(51, 51, 51);*/
    font-size: 15px;
}

.footer a{
    text-decoration: none;
}