<div class="container coverAll">
    <div class="row">
        <div class="tile">
        </div>
    </div>
    <ng-template #primaryLoading>
        <div class="loadingSection" >
            <div class="rounded section">
                <div class="heading">
                    <div class="loadingSpin">
                        <i class="fas fa-sync"></i>
                    </div>  
                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="(note | async)?.length > 0; else primaryLoading">
        <div *ngFor="let noteData of note | async">
            <div class="showUserView">
                <div class="rounded section">
                    <div class="heading">
                        {{ noteData.heading }}
                    </div>
                    <hr>
                    <div class="description">
                        {{ noteData.description }}
                    </div>
                    <hr>
                    <ng-template #secondaryLoading>
                        <div class="loadingSection" >
                            <div class="rounded section">
                                <div class="heading">
                                    <div class="loadingSpin">
                                        <i class="fas fa-sync"></i>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="(noteContainer | async)?.length > 0; else secondaryLoading">
                        <div  *ngFor="let noteContainerData of noteContainer | async">
                            <div class="content" *ngFor="let noteBodySplitData of noteContainerData.body.split('\n')">
                                {{ noteBodySplitData }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="color: grey;">
                    <small>This content is neither created nor endorsed by NoteBook.</small>
                </div>
            </div>
        </div>
    </div>
</div>