
/**************** handle start here  *******************/
.coverAll{
    min-height: 100%;
}

.coverAll .row:first-child{
    margin:0px;
    padding: 0px;
}

.tile{
    margin-top: 102px;
    background-color: rgb(41, 41, 41);
    width: 100%;
}

.handler{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}

.handler button{
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 0px 0px 3px 0px;
    outline: none;
    transition: 0.3s;
}

.handler button:hover{
    background-color:rgba(255, 166, 0, 0.568);
}

.handler button.active{
    border-color: rgb(255, 102, 0);
}

@media screen and (max-width: 2050px){
    .tile{
        margin-top: 65px;
    }
}

/*********** handler end here  **************/

.add{
    margin-top: 15px;
    width: 100%;
}

.addBtn{
    width: 100%;
    padding:10px;
    background-color: orange;
    border-radius:2px;
    border: none;
    outline: none;
    color: white;
}

.section{
    background-color: white;
    color: black;
    margin: 12px 0px 8px 0px;
    padding: 10px;
    height: 110px;
    overflow: hidden;
    transition: 0.1s;
}

.section:hover{
    background-color: rgb(236, 236, 236);
    transform: scale(1.02);
    cursor: pointer;
}

.heading{
    font-size: 22px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.subHeading{
    font-size: 14px;
    font-weight: 200;
    overflow-y: hidden;
    height: inherit;
}

.loadingSection{
    margin-top: 8px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}